<footer>
    <div class="footer-content">
        <ul class="links">
            <li class="linkbox footer-angebot">
                <ul>
                    <li class="main">
                        <a href="/angebot">Angebot</a>
                    </li>
    
                    <li class="sub">
                        <a href="/angebote/trauerbegleitung">Trauerbegleitung</a>
                    </li>
    
                    <li class="sub">
                        <a href="/angebote/">Musiktherapie</a>
                    </li>
    
                    <li class="sub">
                        <a href="/angebote/-1/">Paartherapie</a>
                    </li>
                </ul>
            </li>
    
            <li class="linkbox footer-projekte">
                <ul>
                    <li class="main">
                        <a href="/projekte">Projekte</a>
                    </li>
    
                    <li class="sub">
                        <a href="/projekte/">Trauer Café</a>
                    </li>
                </ul>
            </li>
    
            <li class="linkbox footer-ueber_mich">
                <ul>
                    <li class="main">
                        <a href="#">Rechtliches</a>
                    </li>
    
                    <li class="sub">
                        <a href="/rechtliches">Impressum</a>
                    </li>
    
                    <li class="sub">
                        <a href="/rechtliches/-1">Datenschutzerklärung</a>
                    </li>
                </ul>
            </li>
        </ul>
    
        <div class="footer-contact">
            <div class="social-media">
                <a href="instagram.com/isabellxbecher"><i class='bx bxl-instagram-alt'></i></a>
                <a href="linkedin.com"><i class='bx bxl-linkedin-square' ></i></a>
                <a href="tiktok.com"><i class='bx bxl-tiktok' ></i></a>
            </div>
    
            <a href="mailto:info@isabell-becher.com">info@isabell-becher.com</a>
            <a href="tel:01788864017">0178 / 886 4017</a>
        </div>
    </div>

    <div class="cc">
        <center><p>&#169; 2023 - Isabell Becher</p></center>
    </div>
</footer>

<script src="/scripts/reveal-animation.js"></script>