<header>
    <nav>
        <ul>
            <div class="logo-container">
                <li class="logo-nav">
                    <a href="/index.html"><img src="\img\icons/icon_in_text_light.png" alt=""></a>
                </li>
            </div>

            <div class="menus">
                <li>
                    <a href="/ueber_mich">Über Mich</a>
                </li>

                <li>
                    <a href="/angebot">Angebot</a>
                </li>

                <li>
                    <a href="/projekte">Projekte</a>
                </li>

                <li>
                    <a href="/kontakt">Kontakt</a>
                </li>
            </div>
        </ul>
    </nav>
</header>