<header>
    <nav>
        <ul>
            <div class="logo-container">
                <li class="logo-nav">
                    <a href="/index.html"><img src="\img\icons/icon_in_text_light.png" alt=""></a>
                </li>
            </div>

            <div class="menus">
                <li>
                    <a href="/ueber_mich">Über Mich</a>
                </li>

                <div class="dropdown right" data-dropdown>
                    <button class="link" data-dropdown-button>Angebot</button>

                    <div class="dropdown-menu">
                        <div class="dropdown-links">
                            {%- for angebot in collections.angebot -%}
                                    <a href="{{ angebot.url }}">{{ angebot.data.title }}</a>
                                {# Display other fields as needed #}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="dropdown right" data-dropdown>
                    <button class="link" data-dropdown-button>Projekte</button>

                    <div class="dropdown-menu">
                        <div class="dropdown-links">
                            {% for projekt in collections.projekt %}
                                    <a href="{{ projekt.url }}">{{ projekt.data.title }}</a>
                                {# Display other fields as needed #}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <li class="contact-btn">
                    <a href="/index.html#contact">Kontakt</a>
                </li>
            </div>

            <a href="#" class="toggle-button">
                <i class='bx bx-menu-alt-right' ></i>
            </a>
        </ul>
    </nav>

    <script src="/scripts/nav.js"></script>
</header>