---
title: Isabell Becher - Musiktherapie/AKL | Musiktherapie in Münster
layout: 'base.njk'

seoKeywords: 'Musiktherapie, Kreativtherapie, Trauerbegleitung, Identitätsfindung, Paartherapie, Kinderwunschbegleitung, Jugendliche, Musik und Emotion, Selbstausdruck, Münster, Münsterland, Wohlbefinden, Persönliches Wachstum, Veränderung, Tiergestützte Therapie, Transformation, Emotionale Heilung, Innere Stärke, Stressbewältigung, Musik und Kreativität'
seoDescription: 'Isabell Becher bietet Musiktherapie, Traurbegleitung, Paartherapie und mehr an. Musiktherapie für Wohlbefinden und Transformation! Jetzt entdecken.'
seoImage: '/img/banners/banner_main.png'
---

<section class="index-banner">
    <img src="img/banners/bella.png" alt="" class="banner-bella">
    <div class="text">
        <h4 class="isabell-becher hidden reveal-right">Isabell Becher</h4>
        <h1 class="hidden reveal-scale">Musiktherapie</h1>
        <div class="small-text hidden reveal-left">
            <a href="/kreativtherapie"><h4>Kreativtherapie</h4></a>
            <a href="/trauerbegleitung"><h4>Trauerbegleitung</h4></a>
            <a href="/traumabegleitung"><h4>Traumatherapie</h4></a>
        </div>
    </div>
    <img src="img/banners/index-banner.png" alt="" class="banner-bg">
</section>

<section class="index-section-1">
    <div class="textbox">
        <h2>Herzlich Willkommen!</h2>
        <h4>Musik und Kreativität als Schlüssel für Deine Veränderung</h4>
        <p>Schön, dass du den Weg zu mir gefunden hast. Hier kannst Du den wandelnden Wert von Musik- und Kreativtherapie entdecken. Finde heraus du Dein eigenes Leben verändern und inneren Frieden finden kannst.</p>
    </div>
</section>

<section class="index-section-2">
    <img src="img/pages/index/portrait.jpg" alt="">
    <div class="textbox hidden reveal-right">
        <h2 class="dark">Wer bin ich?</h2>
        <h4 class="dark">Eine kleine vorstellung meinerseits</h4>
        <p class="dark">Hallo, mein Name ist Isabell. Als Musik- und Kreativtherapeutin ist es meine Leidenschaft, Menschen auf ihrem Weg zur Veränderung zu begleiten. Gemeinsam werden wir einen sicheren Raum schaffen, in dem Du Dich öffnen und Deine Gefühle durch Musik und Kreativität ausdrücken kannst. Lass uns gemeinsam Deine innere Stärke entfalten und den Weg zur Veränderung gehen.</p>
    </div>
</section>

<section class="index-section-3">
    <div class="part1">
        <div class="textbox hidden reveal-left">
            <h2>Verwandle Dein Leben mit Musik und Kreativität</h2>
            <h4>Entdecke die Kraft, die in Dir steckt</h4>
            <p>Musik und Kreativtherapie bieten Dir einen einzigartigen Weg zur Veränderung. Durch den Ausdruck Deiner innersten Gefühle und Gedanken durch Musik und Kreativität kannst Du eine tiefe Verbindung zu Dir selbst aufbauen und innere Balance finden. Denn dann machen Klänge bisher ungehörtes hörbar, Farben Unsichtbares sichtbar und Bewegungen Stärken wieder spürbar.</p>
        </div>
        <img src="img/pages/index/music.jpg" alt="">
    </div>

    <div class="part2" style="display: none;">
        <center><img src="/img/pages/index/video.png" alt=""></center>
        <div class="video-description hidden reveal-scale">
            <h2 class="dark">Was ist Musiktherapie?</h2>
            <p class="dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in earum rerum similique alias impedit nobis provident possimus.</p>
        </div>
    </div>

    <div class="part3">
        <img src="img/pages/index/stifte.jpg" alt="">
        <div class="textbox hidden reveal-right">
            <h2>Ein nicht ganz so langer Titel</h2>
            <h4>Ein kurzer Untertitel in Caps</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error in earum rerum similique alias impedit nobis provident possimus. Accusamus, quia cumque doloremque, esse non autem harum aperiam aspernatur exercitationem minus laboriosam commodi eos, ullam explicabo?</p>
        </div>
    </div>
</section>

<section class="index-angebot">
    <h4 class="dark">Interesse?</h4>
    <h1 class="dark">Mein Angebot</h1>

    <div class="timeline">
            <div class="container right">
                <div class="content">
                    <a href="/angebote/trauerbegleitung"><h2 class="dark">Trauerbegleitung</h2></a>
                    <h4 class="dark">Finde Trost und Empathie in Zeiten des Verlustes</h4>
    
                    <p class="dark">In schwierigen Zeiten des Verlustes stehe ich Dir mit einfühlsamer Trauerbegleitung zur Seite. Gemeinsam werden wir Wege finden, um mit Deiner Trauer umzugehen. Schritt für Schritt wirst du das Tal der Tränen durchwandern.</p>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <a href="/angebote/"><h2 class="dark">Kreativ- und Musiktherapie</h2></a>
                    <h4 class="dark">Lasse Deine innere Welt durch Musik und Kunst sprechen</h4>
                    <p class="dark">In der Kreativ- und Musiktherapie wirst Du Deine kreative Seite entdecken und Deine innere Welt zum Ausdruck bringen. Lass uns gemeinsam durch Gestalten, Musik und kreative Aktivitäten Deinen inneren Kern finden und Dein inneres Potenzial entfalten.</p>
                </div>
            </div>
            
            <div class="container right">
                <div class="content">
                    <a href="/angebote/-1/"><h2 class="dark">Paartherapie</h2></a>
                    <h4 class="dark">Stärkt Eure Beziehung durch kreative Ausdrucksformen</h4>
    
                    <p class="dark">In der Paartherapie mit kreativem Schwerpunkt werden wir gemeinsam daran arbeiten, Eure Beziehung zu stärken und wieder miteinander zu verbinden. Durch kreative Aktivitäten und Ausdrucksformen können wir neue Wege finden, um Kommunikation, Verständnis und Intimität in Eurer Partnerschaft zu fördern.</p>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <a><h2 class="dark">Tiergestützte Therapie</h2></a>
                    <h4 class="dark">Erlebe die beruhigende Präsenz eines treuen Begleiters</h4>
                    <p class="dark">In meiner tiergestützten Therapie begleitet Dich - wenn du magst - mein liebevoller Golden Retriever Rüde Dobby. Seine Präsenz und Zuneigung können Dir helfen, Stress abzubauen, emotionale Unterstützung zu erfahren und eine Verbindung zur Natur und dem Tierreich aufzubauen. Erlebe die wohltuende Kraft der tierischen Begleitung.</p>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <a href="/angebote/traumatherapie/"><h2 class="dark">Traumatherapie</h2></a>
                    <h4 class="dark">Befreie Dich von den Spuren der Vergangenheit</h4>
    
                    <p class="dark">In der Traumatherapie begleite ich Dich auf dem Weg der Heilung von traumatischen Erfahrungen. Gemeinsam werden wir achtsam und einfühlsam an den Wurzeln des Traumas arbeiten, um die belastenden Spuren der Vergangenheit zu lösen und Deinen Weg zu einem Leben in mehr Freiheit und Wohlsein zu ebnen.</p>
                </div>
            </div>  

            <div class="container left">
                <div class="content">
                    <a href="/angebote/-2/"><h2 class="dark">Kinderwusnch Begleitung</h2></a>
                    <h4 class="dark">Entdecke neue Wege der Hoffnung und Stärke</h4>
                    <p class="dark">Ich begleite Dich/Euch durch schwierige Zeiten. Ein unerfüllter Kinderwunsch kann für viele Paare eine enorme emotionale Belastung darstellen. In meiner Praxis biete ich Dir/Euch umfassende Begleitung durch Musiktherape und Trauerbegleitung um Dir/Euch in dieser schwierigen Phase zur Seite zu stehen.</p>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <a href="/angebote/-3/"><h2 class="dark">Für Jugendliche</h2></a>
                    <h4 class="dark">Finde Ausdruck, Identität und Wachstum durch Kreativität</h4>
    
                    <p class="dark">In der Kreativ- und Musiktherapie für Jugendliche wirst Du Deine einzigartige Stimme entdecken. Wir werden gemeinsam kreative Projekte und musikalische Ausdrucksformen erforschen, um Dir zu helfen, Deine Identität zu stärken, Emotionen auszudrücken und persönliches Wachstum zu fördern. Lass uns zusammen Deine kreative Reise beginnen und Deine innere Welt erkunden.</p>
                </div>
            </div>
    </div>
</section>

<section class="index-contact" id="index-contact">
    <div class="contact-modal">
        <img src="img/pages/index/cups.png" alt="">
        <form action="contactform.php" method="post">
            <h2 class="dark">Kontakt</h2>
            <h4 class="dark">Noch heute termin vereinbaren</h4>
            <input type="text" name="vorname" placeholder="Vorname" required>
            <input type="text" name="nachname" placeholder="Nachname" required><br>
            <input type="email" name="email" placeholder="E-Mail Adresse" required><br>
            <textarea name="msg" rows="5" placeholder="Nachricht" required></textarea><br>
            <button type="submit" name="submit">Abschicken</button>
        </form>
    </div>
</section>
