---
title: Über Mich
layout: base.njk
---

{% for about in pages%}
<section class="angebot-banner">
    <h1> {{about.data.title }}</h1>
    <img src="{{ about.data.banner }}" alt="">
</section>

<section class="about-introduction">
    <div class="textbox">
        <h2>{{ about.data.introTitle}}</h2>
        <h4>{{ about.data.introSubtitle }}</h4>
        <p>{{ about.data.introContent }}</p>
    </div>
</section>

<section class="about-weg">
    <img src="{{ about.data.cvPicture }}" alt="">
    <div class="textbox hidden reveal-right">
        <h2 class="dark">{{ about.data.cvTitle }}</h2>
        <h4 class="dark">{{ about.data.cvSubtitle }}</h4>
        <p class="dark">{{ about.data.cvContent }}</p>
    </div>
</section>

<section class="about-motivation">
    <div class="textbox hidden reveal-left">
        <h2>{{ about.data.motivationTitle }}</h2>
        <h4>{{ about.data.motivationSubtitle }}</h4>
        <p>{{ about.data.motivationContent}}</p>
    </div>
    <img src="img/pages/index/music.jpg" alt="">
</section>