---
title: Über Mich
layout: base.njk
---
    <section class="angebot-banner">
        <h1>Über Mich</h1>
        <img src="/img/uploads/cups.png" alt="">
    </section>

    <section class="about-introduction">
        <div class="textbox">
            <h2>Über mich und meine Leidenschaft</h2>
            <h4>Gemeinsam den Weg zur inneren Stärke finden</h4>
            <p>Mit Herz-Hand und Verstand begleite ich Menschen durch Krisen. Von je her interessiere ich mich für Menschen und ihre Geschichten. Meine Leidenschaft ist die Musik, ich bin Chansonsängerin und ich bin staatlich anerkannte Erzieherin und Waldorfpädagogin. Die Einflusse der Musik und der Pädagogik ließen mich meinen Herzensweg gehen!</p>
        </div>
    </section>

    <section class="about-weg">
        <img src="/img/uploads/img_0050.jpg" alt="">
        <div class="textbox hidden reveal-right">
            <h2 class="dark">Der Weg zur Musiktherapeutin</h2>
            <h4 class="dark">{{ about.data.cvSubtitle }}</h4>
            <p class="dark">Seit 2015 bin ich Musiktherapeutin und habe mich Anfang 2020 als Musik- und Kreativtherapeutin selbstständig gemacht. Zu mir gehört mein Golden Retriever Rüde Dobby. Wir arbeiten auf Wunsch als Team in der tiergestützten Therapie.</p>
        </div>
    </section>

    <section class="about-motivation">
        <div class="textbox hidden reveal-left">
            <h2>Wieso bin ich Musiktherapeutin?</h2>
            <h4>Über meine Motivation</h4>
            <p>Im Sinne der humanistischen Psychologie gehe ich davon aus, dass jeder Mensch die Fähigkeit zur Lösung seiner Konflikte in sich trägt. <br>Ich liebe meinen Beruf und bin sehr dankbar dafür, dass ich diese wertvolle Arbeit in die Welt bringen darf. Musik- und Kreativtherapie ist meine Berufung.</p>
        </div>
        <img src="/img/pages/about/dobby.jpg" alt="">
    </section>